@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
:root {
  --nav-color: #1b2f64;
  --nav-color2: rgb(31, 53, 114);
  --nav-text: rgb(230, 230, 230);
  --hero-subtitle: #b787b1;
  --hero-body: #365293;
  --color-1: #7073b6;
  --orange: #ff6b35;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1; /* triggers hasLayout */
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  // width: 100%;
  // width: min-content;
}
/* GENERAL */
// Variables par selectores con sass
$a-tags: "a, a:active, a:hover, a:visited";
#{$a-tags} {
  text-decoration: none;
  color: var(--nav-text);
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}

.btn {
  // visibility: hidden;

  position: relative;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.6rem;
  color: white;
  box-shadow: 4px 4px 0px 0px rgb(146, 146, 146);
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
  &:hover {
    left: 4px;
    top: 4px;
    box-shadow: 0 0 0 0 white;
  }
}
button {
  transform: translateY(-100px);
}
/**** HERO PAGE ****/
/* NAV */
.nav-container {
  color: var(--nav-text);
  background-color: var(--nav-color);

  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
  .nav-logo {
    font-weight: 600;
    color: var(--orange);
  }
  .nav {
    ul {
      display: flex;
    }
    a {
      // display: block;
      // font-size: 0.9rem;
      padding: 0 0.4em;
      &:hover {
        padding-bottom: 2px;
        color: var(--orange);
        transition: all 0.8s;
        border-bottom: 2px solid var(--orange);
      }
    }
  }
}
.social,
.hero-design {
  display: none;
}

/* HERO BODY */
.hero-body {
  height: 90vh;
  min-height: 400px;
  background-color: var(--nav-color2);
  text-align: center;
  display: grid;
  .hero-text {
    padding-top: 8rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    h1 {
      border: 1px;
      // font-size: 3vh;
      // font-size: 2.2rem;
    }

    a {
      color: var(--orange);
      h3 {
        margin-top: 1.8rem;
      }
      span {
        padding-bottom: 2px;
        border-bottom: 2px solid var(--orange);
      }
      ion-icon {
        transform: translateY(0.4em);
        color: yellow;
      }
      &:hover {
        span {
          border-bottom: 2px solid yellow;
          transition: 1s;
        }
        ion-icon {
          transform: translateY(20px);
          transition: 1.2s;
        }
      }
    }
  }
}

/* SECTION 1: PROJECTS*/

section {
  padding: 0 2em;
  text-align: center;
  display: block;
}
.projects-container {
  .projects-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--hero-body);
  }
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .projects {
    .block-1 {
      a {
        visibility: hidden;
      }
    }

    .p1 {
      background-image: url("../images/projects/blomia-login.png");
    }
    .p2 {
      background-image: url("../images/projects/omnifood.png");
    }
    .block-2 {
      height: 400px;
      width: 100%;

      background-position: center;
      background-size: auto 100%;
      box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.5);
      &:hover {
        box-shadow: none;
        background-repeat: no-repeat;
      }
    }
    .project-comp {
      color: var(--color-1);
    }
    .project-title {
      margin-top: -0.4rem;
    }
    .project-desc {
      margin-top: 0.4rem;
      color: rgb(28, 28, 28);
      line-height: 1.6rem;
    }
  }
}
/*
.projects::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--hero-subtitle);
}
.projects::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-1);
}
*/

/* SKILLS SECTION */

.skills {
  // background-color: #b787b1;
  background-color: #000;

  .skills-title {
    padding: 1rem 0 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hero-body);
  }
  .frontend-container,
  .backend-container,
  .others-container {
    display: flex;
    flex-wrap: wrap;
  }
  .icon-container {
    // height: 100px;
    height: 60px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    background: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

    &.icon {
      width: 100px;
    }
    &.icon2 {
      width: 110px;
    }
    &.icon3 {
      width: 200px;
    }
  }
}
.backend {
  background-color: white;
}

/* ABOUT SECTION */
.about-container {
  .about {
    background-color: var(--orange);
    color: white;
  }
}
//////////////////////////////
/* MEDIA QUERY*/
@media only screen and (min-width: 680px) {
  .nav-container {
    header {
      padding: 2rem 2rem 2rem 4rem;
      font-size: 120%;
    }
  }
  .hero-text {
    padding: 6rem;
    // font-size: 200%;
  }
  .projects-title {
    margin-bottom: 1rem;
  }
  .projects {
    p {
      margin-bottom: 1rem;
    }

    .project {
      // margin-top: 2rem;
      display: grid;
      grid-template-columns: 50% 50%;
      .block-1 {
        display: grid;
        place-content: center;
        padding: 0 2rem;

        a {
          visibility: visible;
          background-color: var(--hero-body);
        }
      }
      .block-2 {
        margin: auto;
      }
    }
    button {
      visibility: hidden;
    }
  }
}
@media only screen and (min-width: 1033px) {
  .hero-container {
    overflow: hidden;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 65% auto;
    background: unset;

    header {
      background: var(--nav-color);
    }
    .nav ul {
      justify-content: space-evenly;
    }
  }

  .social {
    display: block;
    ul {
      width: 50%;
      display: flex;
      justify-content: space-between;
      float: right;
      padding: 2rem;

      img {
        width: 30px;
        border-radius: 50%;
        &:hover {
          background-color: var(--orange);
          transition: all 1s;
        }
      }
    }
  }
  .hero-body {
    display: grid;
    grid-template-columns: 65% auto;
    background: unset;
    // min-height: 600px;
    .hero-text {
      background: var(--nav-color2);
      text-align: left;

      h1 {
        font-size: 3rem;
        line-height: 1.2em;
      }
    }
    .hero-design {
      display: unset;
      margin-left: -50.4%;
      // margin-top: 5%;
      width: 100%;
    }
  }
  .projects-title {
    margin-bottom: 0;
  }
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: nowrap;

    .skills-title {
      padding: 0 0 3rem 0;
    }
  }

  section {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1350px) {
  .projects {
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    img {
      height: 500px;
      width: 300px;
    }
  }
}
