@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
:root {
  --nav-color: #1b2f64;
  --nav-color2: rgb(31, 53, 114);
  --nav-text: rgb(230, 230, 230);
  --hero-subtitle: #b787b1;
  --hero-body: #365293;
  --color-1: #7073b6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1; /* triggers hasLayout */
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  box-sizing: border-box;
  // width: 100%;
  // width: min-content;
  display: grid;
}
/* GENERAL */
// Variables par selectores con sass
$a-tags: "a, a:active, a:hover, a:visited";
#{$a-tags} {
  text-decoration: none;
  color: var(--nav-text);
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}

.btn {
  // visibility: hidden;

  position: relative;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.6rem;
  color: white;
  box-shadow: 4px 4px 0px 0px rgb(146, 146, 146);
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
  &:hover {
    left: 4px;
    top: 4px;
    box-shadow: 0 0 0 0 white;
  }
}
button {
  transform: translateY(-100px);
}
/**** HERO PAGE ****/
/* NAV */
.hero-container {
  // display: grid;
  // grid-template-rows: auto 1fr;
  // height: 100%;
}
.nav-container {
  color: var(--nav-text);
  background-color: var(--nav-color);

  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  .nav-logo {
    font-weight: 600;
  }
  .nav {
    ul {
      display: flex;
    }
    a {
      // display: block;
      font-size: 0.9rem;
      padding: 0 0.4em;
    }
  }
}
.social,
.hero-design {
  display: none;
}

/* HERO BODY */
.hero-body {
  height: 90vh;
  min-height: 400px;
  background-color: var(--nav-color2);
  text-align: center;
  display: grid;
  .hero-text {
    padding-top: 8rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      margin-top: 2rem;
      a {
        color: var(--hero-subtitle);
        font-size: 1.2rem;
        padding-bottom: 2px;
        border-bottom: 2px solid #1b2f64;
      }
      ion-icon {
        transform: translateY(0.4em);
        color: yellow;
      }
    }
  }
}

/* SECTION 1: PROJECTS*/

section {
  padding: 4em 2em;
  text-align: center;
  display: block;
}
.projects {
  // position: relative;

  .projects-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    // color: var(--color-1);
    color: var(--hero-body);
  }
  .block-1 {
    a {
      visibility: hidden;
    }
  }
  .project-comp {
    color: var(--color-1);
  }
  .project-title {
    margin-top: -0.4rem;
  }
  .project-desc {
    margin-top: 0.4rem;
    color: rgb(28, 28, 28);
    line-height: 1.6rem;
  }
}
/*
.projects::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--hero-subtitle);
}
.projects::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-1);
}
*/

/* SKILLS SECTION */
.skills {
  background-color: #b787b1;

  .skills-title {
    padding: 1rem 0 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hero-body);
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    // ul {
    //   li {
    //     background: white;
    //     padding: 1.5rem;
    //     margin-bottom: 1rem;
    //     border-radius: 1rem;
    //   }
    // }
  }
  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    background: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

    &.icon {
      width: 140px;
    }
    &.icon2 {
      width: 150px;
    }
    &.icon3 {
      width: 250px;
    }
  }
}
.backend {
  background-color: white;
  // padding-top: 0;
}

/* MEDIA QUERY*/
@media only screen and (min-width: 680px) {
  .hero-text {
    padding: 6rem;
  }

  .projects {
    img {
      width: 80%;
    }
    .project {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 40% auto;
    }
    .block-1 {
      display: grid;
      place-content: center;

      a {
        visibility: visible;
        background-color: var(--hero-body);
      }
    }
    button {
      visibility: hidden;
    }
  }
}
@media only screen and (min-width: 1033px) {
  .hero-container {
    overflow: hidden;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 65% auto;
    background: unset;

    header {
      background: var(--nav-color);
      padding: 2em 2em 2em 4em;
    }
    .nav ul {
      justify-content: space-evenly;
    }
  }

  .social {
    display: block;
    ul {
      width: 50%;
      display: flex;
      justify-content: space-between;
      float: right;
      padding: 2rem;
      img {
        width: 40px;
      }
    }
  }
  .hero-body {
    display: grid;
    grid-template-columns: 65% auto;
    background: unset;
    // min-height: 600px;
    .hero-text {
      background: var(--nav-color2);
      text-align: left;

      h1 {
        font-size: 3rem;
        line-height: 1.2em;
      }
    }
    .skills-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .skills-container {
      flex-wrap: nowrap;
    }
    section {
      padding: 4rem;
    }
  }
  .hero-design {
    // display: unset;
    margin-left: -50.4%;
    margin-top: 15%;
    width: 100%;
  }
}
@media only screen and (min-width: 1700px) {
}
