@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
:root {
  --nav-color: #000f20;
  --herobody-color: #01152c;
  --nav-text: rgb(230, 230, 230);
  --color-2: #dd1c1a;
  --hero-body: #365293;
  --color-1: #0075a2;
  --orange: #f96900;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
  /* triggers hasLayout */
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* GENERAL */
a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: var(--nav-text);
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.btn {
  position: relative;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.6rem;
  color: white;
  -webkit-box-shadow: 4px 4px 0px 0px #929292;
          box-shadow: 4px 4px 0px 0px #929292;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
}

.btn:hover {
  left: 4px;
  top: 4px;
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
}

/**** HERO PAGE ****/
/* NAV */
.nav-container {
  color: var(--nav-text);
  background-color: var(--nav-color);
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--nav-text) 1;
}

.nav-container .nav-logo {
  font-weight: 600;
  color: var(--orange);
}

.nav-container .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .nav a {
  padding: 0 0.4em;
}

.nav-container .nav a:hover {
  padding-bottom: 2px;
  color: var(--orange);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-bottom: 2px solid var(--orange);
}

.social,
.hero-design {
  display: none;
}

/* HERO BODY */
.hero-body {
  height: 90vh;
  min-height: 400px;
  background-color: var(--herobody-color);
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.hero-body .hero-text {
  padding-top: 8rem;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.hero-body .hero-text h1 {
  border: 1px;
}

.hero-body .hero-text a {
  color: var(--orange);
}

.hero-body .hero-text a h3 {
  margin-top: 2.8rem;
}

.hero-body .hero-text a span {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--orange);
}

.hero-body .hero-text a ion-icon {
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
  color: yellow;
}

.hero-body .hero-text a:hover span {
  border-bottom: 2px solid yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.hero-body .hero-text a:hover ion-icon {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

/* SECTION 1: PROJECTS*/
section {
  padding: 0 2em;
  text-align: center;
  display: block;
}

.projects-container .projects-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  color: var(--nav-colorr);
}

.projects-container img {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-container .projects button {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.projects-container .projects .block-1 a {
  visibility: hidden;
}

.projects-container .projects .p1 {
  background-image: url("../images/projects/blomia-login.png");
}

.projects-container .projects .p2 {
  background-image: url("../images/projects/omnifood.png");
}

.projects-container .projects .block-2 {
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: auto 100%;
  -webkit-box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.5);
}

.projects-container .projects .block-2:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-repeat: no-repeat;
}

.projects-container .projects .project-comp {
  color: var(--color-1);
}

.projects-container .projects .project-title {
  margin-top: -0.4rem;
}

.projects-container .projects .project-desc {
  margin-top: 0.4rem;
  color: #1c1c1c;
  line-height: 1.6rem;
}

/*
.projects::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-2);
}
.projects::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-1);
}
*/
/* SKILLS SECTION */
.skills {
  background-color: #000;
}

.skills .skills-title {
  padding: 1rem 0 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--nav-text);
}

.skills .frontend-container,
.skills .backend-container,
.skills .others-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .icon-container {
  height: 60px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.skills .icon-container.icon {
  width: 100px;
}

.skills .icon-container.icon2 {
  width: 110px;
}

.skills .icon-container.icon3 {
  width: 200px;
}

.backend {
  background-color: white;
}

.backend .skills-title {
  color: black;
}

/* ABOUT SECTION */
.about-container .about {
  background-color: var(--herobody-color);
  color: white;
  padding: 4rem 2rem;
}

.about-container .about .about-title {
  padding: 2rem 0;
  text-align: left;
}

.about-container .about p {
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

/* FOOTER SECTION */
.contact-container {
  padding: 2rem 0 2rem;
  background-color: var(--herobody-color);
  color: var(--nav-text);
}

.contact-container .mailto:hover {
  color: var(--color-2);
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-container .social-footer {
  margin-bottom: 1rem;
}

.contact-container .social-footer ul {
  margin: 0 auto;
  width: 250px;
  padding: 0.4rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.contact-container .social-footer ul img {
  width: 40px;
  border-radius: 50%;
  background-color: var(--nav-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .social-footer ul img:hover {
  background-color: var(--color-2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact-container .contact-title {
  padding: 1rem;
}

.contact-container form {
  text-align: left;
}

.contact-container form input,
.contact-container form textarea,
.contact-container form button {
  width: 100%;
  padding: 1rem;
  background-color: var(--herobody-color);
  border: 2px solid var(--nav-text);
  margin: 0.8rem 0 1.4rem;
  color: var(--nav-text);
}

.contact-container form #message {
  word-break: break-word;
}

.contact-container form button {
  cursor: pointer;
  color: var(--nav-text);
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 0;
}

.contact-container form button:hover {
  color: var(--color-2);
  border: 2px solid var(--color-2);
  -webkit-transition: 1s;
  transition: 1s;
}

/* MEDIA QUERY*/
@media only screen and (min-width: 680px) {
  .nav-container header {
    padding: 2rem 4rem;
    font-size: 120%;
  }
  .hero-text {
    padding: 8rem;
    font-size: 140%;
  }
  .projects-container {
    margin: 0 0 2rem !important;
  }
  .projects-container .projects-title {
    margin-bottom: 2rem;
  }
  .projects-container .projects p {
    margin-bottom: 1rem;
  }
  .projects-container .projects .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .projects-container .projects .project .block-1 {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 0 2rem;
  }
  .projects-container .projects .project .block-1 a {
    visibility: visible;
    background-color: var(--color-1);
  }
  .projects-container .projects .project .block-2 {
    margin: auto;
  }
  .projects-container .projects button {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1190px) {
  section {
    padding: 4rem;
  }
  .hero-container {
    overflow: hidden;
  }
  .hero-container .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% auto;
        grid-template-columns: 75% auto;
    background: unset;
  }
  .hero-container .nav-container header {
    background: var(--nav-color);
    padding: 2rem 8rem;
  }
  .hero-container .nav-container .nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .social {
    display: block;
  }
  .social ul {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    float: right;
    padding: 2rem;
  }
  .social ul img {
    width: 40px;
    border-radius: 50%;
  }
  .social ul img:hover {
    background-color: var(--orange);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .hero-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% auto;
        grid-template-columns: 75% auto;
    background: unset;
  }
  .hero-body .hero-text {
    background: var(--herobody-color);
    text-align: left;
  }
  .hero-body .hero-text h1 {
    font-size: 3rem;
    line-height: 1.2em;
  }
  .hero-body .hero-design {
    display: unset;
    margin-left: -50.4%;
    width: 100%;
  }
  .projects-title {
    margin: 4rem 0 0 !important;
    font-size: 2.2rem !important;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .skills-container .skills-title {
    padding: 0 0 3rem 0;
  }
  .contact-container .contact-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
  }
  .contact-container .contact-content .social-footer {
    margin: 2rem;
  }
  .contact-container .contact-content .social-footer ul {
    margin: 1rem auto 2rem;
  }
  .about .about-title {
    margin-left: 2rem;
    font-size: 2.2rem;
  }
  .about .about-text {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about .about-text > div {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1350px) {
  .projects-title {
    margin: 4rem 0 4rem !important;
  }
  .projects {
    padding: 1rem;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .projects img {
    height: 500px;
    width: 300px;
  }
}

@media only screen and (min-width: 1600px) {
  .projects {
    padding: 0 8rem 8rem;
  }
}
/*# sourceMappingURL=main.css.map */