@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
:root {
  --nav-color: #1b2f64;
  --nav-text: rgb(230, 230, 230);
  --hero-subtitle: #b787b1;
  --hero-body: #365293;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* GENERAL */
// Variables par selectores con sass
$a-tags: "a, a:active, a:hover, a:visited";
#{$a-tags} {
  text-decoration: none;
  color: var(--nav-text);
}
li {
  list-style-type: none;
}
/**** HERO PAGE ****/
/* NAV */
.hero-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 6rem 1fr;
}
header {
  color: var(--nav-text);
  background-color: var(--nav-color);

  .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 100%;
  }
  .nav-logo {
    font-weight: 600;
  }
  .nav {
    ul {
      display: flex;
      justify-content: space-evenly;
    }
    li {
      margin-right: 0.8em;
    }
  }
}
.social,
.hero-design {
  display: none;
}

/* HERO BODY */
.hero-body {
  background-color: var(--hero-body);
  text-align: center;
  display: grid;
  padding: 4rem;

  .hero-text {
    color: white;
    h1 {
      font-size: 3.2rem;
      text-align: left;
    }
    h2 {
      a {
        color: var(--hero-subtitle);
        padding-bottom: 2px;
        border-bottom: 2px solid #1b2f64;
        letter-spacing: 2px;
      }
    }
  }
}
